/* styling chat message editor */

form.message-editor {
    block-size: 10%;
}

.message-editor input[type="text"] {
    block-size: 50%;
    inline-size: 80%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    outline-color: var(--dark-blue);
}

.message-editor button[type="submit"] {
    inline-size: calc(20% - 2rem - 4px);
    block-size: calc(50% + 1rem + 4px);
    padding: 0.5rem 0;
    align-items: center;
    border-radius: 0;
    background-color: var(--dark-blue);
    color: #FFF;
    border: none;
}