/* general */
button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
}

button:hover,
button:focus {
    cursor: pointer;
}

/* styling login page */
form.login {
    margin: 5% auto;
    inline-size: 60%;
    block-size: 70vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem 5rem;
    background-color: lightblue;
}

form.login > * {
    display: block;
    font-size: 1.1rem;
}

.login input[type="text"] {
    margin-block-start: 2rem;
    padding: 0.5rem 1rem;
    outline-color: blue;
}

.login input[type="submit"] {
    padding: 1rem 2rem;
    background-color: blue;
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    margin-block-start: 3rem;
}

.login input[type="submit"]:hover,
.login input[type="submit"]:focus {
    cursor: pointer;
}

.login-error {
    font-size: 0.8rem;
    color: red;
    margin-block-start: 1rem;
  }

/* styling home page */
.home-container header {
    block-size: 5rem;
    padding: 1% 5%;
}

.home-container header button {
    float: right;
    background-color: lightcoral;

}

.home-container main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20vh;
}

.home-container div.welcome,
.home-container div.utilities {
    block-size: 50vh;
    inline-size: 50vh;
}

div.utilities > button {
    margin-block-end: 2rem;
    background-color: blue;
    color: #FFF;
}

div.utilities > button:hover,
div.utilities > button:focus {
    cursor: pointer;
}

/* styling join chatroom form page */
form.join-chat {
    margin: 5% auto;
    inline-size: 60%;
    block-size: 70vh;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 3rem 5rem;
    background-color: lightblue;
}

form.join-chat > * {
    display: block;
    font-size: 1.1rem;
}

.join-chat input[type="text"] {
    margin-block-start: 2rem;
    padding: 0.5rem 1rem;
    outline-color: blue;
}

.join-chat input[type="submit"] {
    padding: 1rem 2rem;
    background-color: blue;
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    margin-block-start: 3rem;
}

.join-chat input[type="submit"]:hover,
.join-chat input[type="submit"]:focus {
    cursor: pointer;
}

.join-room-error {
    font-size: 0.8rem;
    color: red;
    margin-block-start: 1rem;
}

/* styling chat room */
div.chat-container {
    inline-size: 60vw;
    block-size: 80vh;
    margin: 9vh auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
}

div.chat-body {
    inline-size: 75%;
    display: flex;
    flex-direction: column;
}

.chat-container aside {
    inline-size: 25%;
    border-inline-start: 1px solid rgba(0, 0, 0, 0.3);
}

div.chat-body,
.chat-container aside {
    padding: 2rem;
}

/* styling chat body */

div.messages-container {
    block-size: 90%;
    overflow-y: scroll;
    margin-block-end: 0.5rem;
}

div.system-msg {
    background-color: rgba(0, 0, 0, 0.05);
}

div.user-msg {
    background-color: lightblue;
}

.message {
    margin-block: 1rem;
    padding: 0.5rem;
    max-inline-size: 95%;
}

div.message:first-child {
    margin-block-start: 0;
}

.text p {
    padding-block-end: 0.5rem;
}

.sender p {
    font-size: 0.8rem;
}

.system-msg .text p {
    padding: 0;
    font-size: 1rem;
}

.system-msg .sender {
    display: none;
}

/* styling chat message editor */

form.message-editor {
    block-size: 10%;
}

.message-editor input[type="text"] {
    block-size: 50%;
    inline-size: 80%;
    padding: 0.5rem 1rem;
}

.message-editor input[type="submit"] {
    inline-size: calc(20% - 2rem - 4px);
    block-size: calc(50% + 1rem + 4px);
    padding: 0.5rem 0;
    align-items: center;
    background-color: blue;
    color: #FFF;
    border: none;
}

/* styling chat tools aside */
button.leave-btn {
    padding: 0.4rem 0.8rem;
    background-color: lightcoral;
}

div.room-general-info {
    margin-block-end: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}